*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

 body{
    font-family: 'Overpass', sans-serif;
    padding: 20px 0;
    width: 375px;
    margin: auto; 
    background-color: hsl(216, 12%, 8%);
    color:hsl(0, 0%, 100%) ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container, .thank{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    width: 350px;
    /* height: 300px; */
    margin: auto;
    border-radius: 20px;
    background-color: hsl(213, 19%, 18%);
    position: relative;
    top: 170px;
}

.thank{
    display: flex;
    justify-content: center;
    text-align: center;
}

.shadow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: hsl(218, 9%, 25%);
}
 
.star{
    width: 12px;
}

.please{
    font-size: 15px;
    line-height: 20px;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(218, 9%, 25%);
}

button:hover{
    background-color: hsl(25, 97%, 53%);
}

button:focus{
    background-color: hsl(217, 12%, 63%);
}

#button{
    font-weight: 400;
    cursor: pointer;
    width: 290px;
    height: 40px;
    border-radius: 30px;
    border: none;
    color:hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

#button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.hidden{
    display: none;
}

.select{
    color: hsl(25, 97%, 53%);
    background-color: hsl(218, 9%, 25%);
    height: 35px;
    width: 190px;
    border-radius: 20px;
    padding: 9px;
    margin: auto;
}

.thanks{
    transform: scale(1.5);
}

.appreciate{
    text-align: center;
    /* transform: scale(1); */
    font-size: 14px;
    line-height: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    top: 180px;
    margin: auto;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
